<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Wesh ! Page pour ajouter un apprenant</h1>

    <form action="/students" method="POST">
      <label for="first_name">First name:</label>
      <input type="text" name="first_name" />
      <label for="last_name">Last name:</label>
      <input type="text" name="last_name" />
      <label for="email">Email:</label>
      <input type="text" name="email" />
      <input type="submit" />
    </form>

    <h2>Tous les apprenants</h2>

    <ul>
      <% students.forEach((student) => {%>
      <li><%= `${student.first_name} ${student.last_name}` %></li>
      <% })%>
    </ul>
  </body>
</html>
